.app-bg-color{
  background-color: #172334;
}

.bg-color {
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-font {
  font-family: Impact, Charcoal, sans-serif;
  color: #000;
}

.current-header{
  font-size: 400%;
}

.current-loc{
  font-size: 125%;
}

.current-img{
 width: 35%; 
}

.current-temp{
  font-size: 250%; 
}

.current-desc{
  font-size: 150%; 
}

.hr {
  height: 2px;
  background-color: #fff;
}

.error{
  color: red;
  font-size: 350%;
}

.forecast-box{
  border: 1px solid #fff;
}

.forecast-date{
  font-size: 175%;
}

.forecast-img{
  width: 100%;
}

.forecast-temp{
  font-size: 175%;
}

.forecast-cond{
  font-size: 150%;
}

.forecast-desc{
  font-size: 125%;
}